<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
     
      <h1><%= resource.name %></h1>
      <div>Description: "<%= resource.description %>"</div>
      <div>Type: <%= resource.type %> </div>
      <div>Link: <a target="_blank" href='<%=resource.link %>'>Click Here</a></div>
      <div>Download: 
        <% if(resource.dl) { %>
        <a href='<%= resource.dl %>'> Click Here</a>
          <% } else { %>
            <p style='display: inline'><i>Not available :(</i></p>
            <% } %>
      
      </div>
      




    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
