<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
     
      <h1><%= resource.name %></h1>
      <div>Description: "<%= resource.description %>"</div>
      <div>Type: <%= resource.type %> </div>
      <% if((resource.link).length < 8 ) { %>
        <div>Link: none :( </div>
        <% } else { %> 
      <div>Link: <a target="_blank" href='<%=resource.link %>'>Click Here</a></div>
      <% } %>
      
      
      <div>Preview: 
        <% if(resource.s3Link) { %>
          <% const imageTypes = ['image/jpeg', 'image/gif', 'image/bmp', 'image/png'] %>
          <% if(imageTypes.includes(resource.file.mimetype)) { %>
            <a href=<%= resource.s3Link %>><img width='300px'  src=<%= resource.s3Link %> /></a>
            <% } else { %>
              
        <iframe width='100%' height='500px' src='https://docs.google.com/viewer?url=<%= resource.s3Link %>&embedded=true'></iframe>
      <p><a href=<%=resource.s3Link %> />Download</p>
        <% } %>  
        <% } else { %>
            <p style='display: inline'><i>Preview Not available :(</i></p>
            <% } %>
      
      </div>
      
      
      
      
     
      
      



<div>
 
    
 
</div>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
